# pkg and bin directories currently contain build artifacts
# only so we exclude them.
bin/
manifests/external-crds/

# IDEs
.vscode/
__debug_bin
.idea/
.DS_Store
.swp
*~

# Jupyter Notebooks.
**/.ipynb_checkpoints
# The default output for various artifacts (e.g. Jupyter Notebooks after Papermill execution).
artifacts

# Python cache files / packaging
__pycache__/
*.egg-info/
dist/

# Coverage
cover.out

# Helm
charts/kubeflow-trainer/charts/
charts/kubeflow-trainer/Chart.lock
